body {
  overflow-x: hidden;
}
.sidebar {
  height: 100vh;
  background-color: #212529;
}
.sidebar .nav-link {
  color: #adb5bd;
  font-weight: 500;
}
.sidebar .nav-link:hover {
  color: #fff;
  background-color: #343a40;
  border-radius: 8px;
}
.sidebar .nav-link.active {
  color: #fff;
  background-color: #0d6efd;
  border-radius: 8px;
}
.content {
  padding: 20px;
}
.text-danger {
  font-size: 1.10rem;
  margin-top: 1px;
  margin-bottom: 10px;
}
.btn-signIn {
  margin-top: 3px;
}